<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="QualityMetamodel.ui.contribution1">
         <menu
               label="Quality Model"
               path="additions"
               id="QualityMetamodel.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Evaluate"
               class="qualitymetamodel.ui.popup.actions.Evaluate"
               menubarPath="QualityMetamodel.ui.menu1/group1"
               enablesFor="2"
               id="QualityMetamodel.ui.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="QualityMetamodel.ui.Page1"
	    class="qualitymetamodel.ui.preference.ConnectorPreferencePage"
            name="Quality model engine">
       </page>
   </extension>
</plugin>
